<div
  align="center"
  valign="top">
  <button class="button"
          *ngIf="!editProducts"
          (click)="onEdit()">Edit Items
  </button>
  <button class="button"
          *ngIf="editProducts"
          (click)="onReturn()">Return
  </button>
  <div class="col-xs-12" *ngIf="editProducts">
    <label for="name">Name</label>
    <input type="text"
           id="name"
           class="form-control"
           #nameInput
    >
    <br>
    <br>
    <label for="name">description</label>
    <input type="text"
           id="description"
           class="form-control"
           #descriptionInput
    >
    <br>
    <button class="button"
            (click)="onAddItem()">Add Item
    </button>
  </div>
  <br>
  <br>
  <app-product-item
    *ngFor="let einzelnesProdukt of products"
    [produktItem]="einzelnesProdukt"
    [editProducts]="editProducts"
    (deleteProductItem)="deleteItem($event)">
  </app-product-item>
</div>



