<div align="center">
  <button class="button" *ngIf="!editOrder" style="margin: 20px"
    (click)="onEditOrder()">Edit Orders
  </button>
  <button class="button" *ngIf="editOrder" style="margin: 20px"
          (click)="onReturn()">Return
  </button>
  <button class="button" *ngIf="editOrder" style="margin: 20px"
          >Add Order
  </button>


  <app-order
    *ngFor="let order of orders"
    [order]="order"
    [editOrder]="editOrder"
    (onDeleteOrder)="deleteAnOrder($event)"
    (onShowProducts)="showAllProducts($event)"
    (dontShowProducts)="this.showProducts = $event"
    [addItems]="this.addItems"  >
  </app-order>
</div>

  <ng-container *ngIf="showProducts">
    <div fxLayout="row" fxLayoutAlign="space-evenly stretch" >
  <app-product-item-add-order *ngFor="let item of products"  [orderToEdit]="orderToEdit" [productItem]="item "> </app-product-item-add-order>
    </div>
  </ng-container>

