<div class="col">
  <!--<app-product-item *ngFor="let product of products"></app-product-item>-->
</div>
<p (click)="showOrderDetails()" *ngIf="!showDetails">{{order.name}}</p>
<app-order-details (dontShowdets)="showOrderDetails()"
                         [order]="order"
                         *ngIf="showDetails"
 [editOrder]="editOrder"></app-order-details>
<bmw-button button="secondary" [disabled]="addItems" *ngIf="editOrder" style="margin: 20px"
        (click)="deleteOrder()">Delete Order
</bmw-button>
<bmw-button button="primary" *ngIf="editOrder && !addItems" style="margin: 20px"
        (click)="onAddProducts(order)">Add Items
</bmw-button>
<bmw-button class="button" *ngIf="addItems && editOrder" style="margin: 20px; min-width: 78px"
        (click)="accept()">Accept
</bmw-button>
<hr>

