<div align="center">
  <button class="button" *ngIf="!editOrder" style="margin: 20px"
    (click)="onEditOrder()">Edit Orders
  </button>
  <button class="button" *ngIf="editOrder" style="margin: 20px"
          (click)="onReturn()">Return
  </button>
  <button class="button" *ngIf="editOrder" style="margin: 20px"
          (click)="onAddOrder()">Add Order
  </button>

  <app-bestellung
    *ngFor="let einebestellung of bestellungenGesamt"
    [dieseBestellung]="einebestellung"
    [editOrder]="editOrder"
    (onDeleteOrder)="deleteAnOrder($event)">
  </app-bestellung>
</div>
<ng-container *ngIf="showProducts">
<app-product-item-add-order *ngFor="let item of products"  [produktItem]="item "> </app-product-item-add-order>
</ng-container>

