<div
  align="center"
  valign="top">
  <bmw-button class="button"
          *ngIf="!editProducts"
          (click)="onEdit()">Edit Items
  </bmw-button>
  <bmw-button class="button"
          *ngIf="editProducts"
          (click)="onReturn()">Return
  </bmw-button>
  <br>
  <br>
  <div class="col-xs-12" *ngIf="editProducts">
    <label for="name">Name: </label>
    <input type="text"
           id="name"
           class="form-control"
           #nameInput
    >
    <br>
    <br>
    <label for="name">Description: </label>
    <input type="text"
           id="description"
           class="form-control"
           #descriptionInput
    >
    <br>
    <br>
    <bmw-button button="submit"
            (click)="onAddItem()">Add Item
    </bmw-button>
  </div>
  <br>
  <br>
  <app-product-item
    *ngFor="let product of products"
    [productItem]="product"
    [editProducts]="editProducts"
    (deleteProductItem)="deleteItem($event)">
  </app-product-item>
</div>



